

.add-photos-to-listing{
    width: 1232px;
    height: 805px;
    padding-top: 71px !important;
}

.upload-container{
    max-width: 912px !important;
    margin: 0 auto !important;
    /* position: relative !important; */
    /* width: calc(100% - 200px); */
    height: 738px;
}

.upload-description{
    background-color: white !important;
    padding-bottom: 102px !important;
    width: 547px;
    height: 636px;
}

.upload-side {
    font-size: 19px !important;
    padding: 30px 30px 16px 30px !important;
    width: 487px;
    height: 590px;
}

.add-photos-container{
    margin-top: 32px;
    margin-bottom: 8px;
    width: 487;
    height: 86;
}

.add-photos-captions{
    margin-right: 20px;
}

.add-photos-captions{
    width: 296px;
    height: 34px;
}

.add-photos-reason{
    margin-top: 8px;
    margin-bottom: 24px;
    width: 487px;
    height: 44px;
}

.upload-box{
    width: 517px;
    height: 400px;
    box-sizing: border-box;
}

.upload-form {
    width: 493px;
    height: 400px;
}

.inner-upload-form-container{
    width: 493px;
    height: 400px;
}

.inner-upload-padding{
    border: 2px dashed #bbb !important;
    border-radius: 6px !important;
    height: 400px !important;
    cursor: pointer !important;
    position: relative !important;
    margin: 0 !important;
    padding: 20px !important;
    width: 100% !important;
    display: table !important;
}

.upload-button-container-with-padding{
    width: 449px;
    height: 356px;
    padding-top: 137px;
    background-image: url(https://a0.muscache.com/airbnb/static/packages/upload-photos-ghosts.56fe723d.png);
    padding-bottom: 123px;
}

.upload-button-container{
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    pointer-events: none !important;
    width: 390px;
    height: 98px;
}

.upload-photos-button{
    
}
.upload-photos-file{
    border: 2px solid red;
}
