.card {
display: flex;
flex-direction: column;
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
border: 1px solid rgba(0, 0, 0, 0.02);
border-radius: 12px;
margin-right: 10px;
font-family: 'Circular';
width: 10%;
height: auto;
}


.card-title {
    background-color: white;
    padding: 10% 20% 10% 3%;
}

// @media only screen and (min-width: 600px){
//     .card {
//     width: 22%;
//     box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
//     border: 1px solid rgba(0, 0, 0, 0.02);
//     border-radius: 12px;
//     display: flex;
//     margin-right: 10px;
//     font-family: 'Circular';
//     font-size: 14px;
// }
//    .card-image {
//     width: 25px;
//     height: 25px;
// }
// }