.thumbnail{
    width: 388px;
    height: 339px;
    font-size: 16px;
    margin: 2%;
}

.thumbnail-image{
    width: 388px;
    height: 258px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px 10px 5px 5px;
}

.name {
    display: flex;
    width: 412px;
}

.thumbnail-location {
    font-weight: bold;
    font-family: 'Montserrat';
}

.rating {
    margin-left: 247px;
    display: flex;
    height: 17px;
    font-size: 14px;
}

.star-icon{
    color: red;
    height: 0.75em;
    padding: 3px;

}

.price{
    display: flex;
    font-weight: 900;
}

.per-night{
    display: flex;
    font-weight: 300;
}

.space-height {
    height: 10vh;
}

.distance {
    margin-left: 1.5em;
    color: red;
    font-family: sans-serif;
}

.check-in-time, .check-out-time {
    font-weight: bold;
}
