.show{
    // border: 1px solid red;
}
.show-header-photos{
    display: flex;
    flex-direction: row;
    .col1{
        width: 60%;
    }
    .col2{
        display: flex;
    flex-direction: column;
    width: 40%;
    }
    .show-image1{
        height: 740px;
        
    }
    .show-image2{
        height: 370px;
        
    }
    .show-image3{
        height: 370px;
        
    }
}
.show-sticky-nav{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.show-sticky-nav-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    margin: 10px;
    li{
        margin: 20px;
    }

}

.show-detail{
    display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background: #fff;
  width: 100%;
//   border: 1px solid red;
  border-top: 0;
}
.show-left{
    width: 60%;
  min-height: 200px;
  padding: 20px;
    border-bottom: 1px solid #ccc;
    h1{
        font-size: 32px;
        font-weight: 800;
        line-height: 1.125em;
        color: rgb(72, 72, 72);
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

.show-right{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    width: 300px;;
  min-height: 200px;
  padding: 20px;
  padding-right: 19px;
  border-radius: 7px;
    border: 1px solid #ccc;
    
}
.show-right-top{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    margin-left: 40px;
    
    li{
       
    }

}
.show-price{
    display: flex;
   
}
.show-rating{
     display: flex;
    width: 100%;
   
}
.show-star-icon{
    display: flex;
    color: red;
    height: 0.75em;
    padding: 3px;
}
.show-right-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.show-detail-title{
     display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        
    
    .show-detail-city{
    
        font-size: 16px;
    font-weight: 400;
    line-height: 1.375em;
    color: rgb(72, 72, 72);
    margin: 0px;
    }
    img{
        height: 40px;
        width: 45px;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: right;
        font-size: 12px;
    }
    .show-detail-host{
        font-size: 16px;
    font-weight: 400;
    line-height: 1.375em;
    color: rgb(72, 72, 72);
    margin: 0px;
    }
}
.show-detail-capacity{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 20px;
    
}
.capacity{
    background-color: white;
    color: rgb(72, 72, 72);
    margin-bottom: 7px;
}

.show-detail-overview{
    margin-bottom: 30px;
    
    h4{
        margin: 3px; 
    }
    p{
        color: rgb(72, 72, 72);
        margin-bottom: 7px;
    }
}

.empty-height {
    height: 5vh;
}

.show-guest {
    margin-top: .5em;
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-between;
    margin-bottom: 1.5em;
}
.search-btn-caption{
    margin-top: 15px;
}